$transition_1: all 0.2s ease;
$transition_2: all 0.3s;

$green_color: #14bf98;
$black_color: #484a46;
$grey_color: #787976;
$grey_color_mid: #dadada;
$grey_color_light: #ebe8e8;
$grey_background: #fbfbfb;
$blue_color_dark: #113448;

$small_size: 10px;
$mid_size: 16px;
$large_size: 22px;
